<section id="registrarCasa">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                    <div class="card_registrarCasa">
                        <div class="card">
                            <div class="card-body text-center">
                                <form action="">
                                    <h1 class="h3 mb-3 font-weight-normal">Registra casa</h1>
                                    <div class="form-group">
                                        <input type="text" id="nombreCasa" name="nombreCasa" class="form-control" placeholder="Nombre casa" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="noHabitantes" name="noHabitantes" class="form-control" placeholder="Número de habitantes" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripción" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="servicios" id="servicios" name="servicios" class="form-control" placeholder="Servicios" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" (change) ="seleccionarFotos($event)"/>
                                    </div>
                                    <button type="submit" class="btn btn-lg primary btn-block">Registrar Casa</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
