<head>

    <title>Bootstrap Card</title>
   
  <meta charset="utf-8">
   
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href="perfil-cliente.component.css">
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head> 

<body>   
    <div class="carrusel" id="car">
      <div class="carousel">
        <div class="carousel__face"><span>Vive</span></div>
        <div class="carousel__face"><span>Viaja</span></div>
        <div class="carousel__face"><span>Come</span></div>
        <div class="carousel__face"><span>Ama</span></div>
        <div class="carousel__face"><span>Descansa</span></div>
        <div class="carousel__face"><span>Disfruta</span></div>
        <div class="carousel__face"><span>Sueña</span></div>
        <div class="carousel__face"><span>Sonrie</span></div>
        <div class="carousel__face"><span>Avanza</span></div>
        </div>
      </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="card">
    <div *ngFor="casas1?.lenght > 0; else noCasas1" class="card-header">List of Files</div>
    <div *ngFor="let item of casas1">
      <img src={{item.URLcasa}} width="100" height="100">
    </div>
  </div>
</body>

<!--
<div class="card">
  <div *ngFor="casas1?.lenght > 0; else noCasas1" class="card-header">List of Files</div>
  <ul *ngFor="let item of casas1">
    <img src={{item.URLcasa}} width="100" height="100">
  </ul>
</div>-->